@import '../../styles/material-color';
@import '../../styles/fonts';
@import '../../styles/utilities';

:global .tooltip {
  background: $clr-blue-grey-700;
  border-radius: 4px;
  top: -25%;
  color: $clr-white;
  display: block;
  left: calc(100% + 16px);
  opacity: 0;
  padding: em(8px) em(10px);
  pointer-events: none;
  position: absolute;
  transform: translateX(-10px);
  transition: all .25s ease-out;

  &:before {
    bottom: 0;
    content: " ";
    display: block;
    height: 100%;
    left: -20px;
    position: absolute;
    width: 20px;
  }

  &:after {
    border-top: solid transparent em(10px);
    border-bottom: solid transparent em(10px);
    border-right: solid $clr-blue-grey-700 em(10px);
    content: " ";
    height: 0;
    left: -10px;
    position: absolute;
    top: calc(50% - 10px);
    width: 0;
  }

  p {
    margin-bottom: em(2px, $font-size--body);
  }
}

:global .avatar:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.userEmail {
  font-size: em($font-size--caption);
  font-style: italic;
  font-weight: $font-weight--light;

}
