
// Box Sizing Hack

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



// ============================== //
//      Basic Global Styles
// ============================== //

body {
  font-family: $font-family--primary;
  font-size: $font-size--body;
  line-height: ($base__line/$base__font-size);
}

h1 {
  font-size: em($font-size--headline);
}

h2 {
  font-size: em($font-size--title);
}

h3 {
  font-size: em($font-size--subheading);
}

p {
  font-size: em($font-size--body);
  margin: 0 0 em(6px, $font-size--body);
}



// ============================== //
//         Custom Styles
// ============================== //

:global .intent {
  @include bg-colors($intent-colors);
}
