:global {
  .avatar {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 40px;
    img {
      border-radius: 50%;
    }
  }
}
