@import '../../styles/material-color';
@import '../../styles/fonts';
@import '../../styles/utilities';

.title {
  text-align: center;
  color: $clr-white;
  font-weight: 100;
  font-size: 20px;
  padding: 8px 20px;
  margin: 0;
}
