.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.content {
  align-self: center;
}

.imageContainer {
  margin-bottom: 48px;
  margin-top: 280px;
  text-align: center;

  img {
    display: inline-block;
    max-width: 100%;
  }
}

.signInButton {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
