@import '../../styles/material-color';
@import '../../styles/fonts';
@import '../../styles/utilities';

:global .message {
  align-items: flex-start;
  display: flex;
  margin-bottom: em(10px);
  position: relative;
}

.messageText {
  margin-right: em(10px);
}