@import '../../styles/material-color';
@import '../../styles/fonts';
@import '../../styles/utilities';

:global .message {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: 300px;
}

.messageText {
  margin-right: em(10px);
  width: 100%;
}